<h1>Your Cart</h1>
<% counted_items = current_cart.inject(Hash.new(0)) { |h,v| h[v] += 1; h } %>

  <% current_cart.uniq.each do |num| %>
  <h5><%= Item.all.find(num).name %> Quantity: <%= counted_items[num] %>
  <br>Price: $<%= Item.all.find(num).price * counted_items[num] %>
  <br>Category: <%= Item.all.find(num).category.name %></h5>
  <br><% @total_price += (Item.all.find(num).price * counted_items[num]) %>
  <% end %>


<h3>Total Price:</h3>
<h2>$<%= @total_price %></h2>

<%= form_tag('/purchases', method: :post)%>
<input type=submit value='place order'>
