<h2>Welcome to Congo</h2>


<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @query %>
<ul>
  <% @found_items.each do |i| %>
    <li>
    <%= link_to i.name, item_path(i) %><br>
    Price:<%= i.price %><br>
    Category:<%= link_to i.category.name, category_path(i.category) %>
    </li>
  <% end %>
</ul>
<% end %>
