
<div class= "container">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
      <strong><h2>WELCOME  TO  CONGO</h2><strong>
    </div>
    <div class="col-4">
    </div>
  </div>
</div>


<em><h4>Choose a Category </h4></em>




<div class= "container">
  <div class= "row">
    <div class= "col">
      <h4><%= link_to "Electronics", "/categories/1" %></h4>
    </div>
    <div class= "col">
    <h4><%= link_to "Vehicle", "/categories/2" %></h4>
    </div>
    <div class= "col">
    <h4><%= link_to "Home", "/categories/3" %></h4>
    </div>
    <div class= "col">
    <h4><%= link_to "appliances", "/categories/4" %></h4>
    </div>
    <div class= "col">
    <h4><%= link_to "books", "/categories/5" %></h4>
    </div>
  </div>
</div>
<br> <br>




<h4>Or Search an Item below:</h4>

<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @query %>
<ul>
  <% @found_items.each do |i| %>
    <li>
    <%= link_to i.name, item_path(i) %><br>
    Price:<%= i.price %><br>
    Category:<%= link_to i.category.name, category_path(i.category) %>
    </li>
  <% end %>
</ul>
<% end %>
